// --------------------------------------
// COLOR VARIABLES
// --------------------------------------

$color-bg-light:            #F9F3E4;
$color-accent-orange:       #F68B6E;
$color-primary-blue:        #0042E4;
$color-primary-blue-hover:  #172a81;
$color-dark-gray:           #313438;
$color-dark:                #000;
$color-white:               #fff;
$color-muted-white:         #e0e0e0;